@media only screen and (min-width: 1200px) {
  body .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 1199px) {
  body #maincontent {
    padding-left: 10px;
    padding-right: 10px;
  }
}
html body.boxed-layout {
  background-color: #f5f5f5;
}
html body.boxed-layout #maincontent,
html body.boxed-layout .breadcrumbs-wrapper .container,
html body.boxed-layout .page-wrapper > .breadcrumbs {
  background-color: #fff;
}
.wide-layout .top-block,
.boxed-layout .top-block .container {
  background-color: #ffffff;
  border-color: rgba(0,0,0,0.1);
}
.wide-layout .middle-block,
.boxed-layout .middle-block .container {
  background-color: #ffffff;
  border-color: #ffffff;
}
.wide-layout .menu-wrapper,
.boxed-layout .menu-wrapper .container {
  background-color: #ffffff;
}
.page-header .menu-wrapper .menu-inner {
  background-color: rgba(0,0,0,0);
}
.options-wrapper .options-block,
.top-link-wishlist,
.page-header .minicart-wrapper .action.showcart.title-cart {
  color: rgba(0,0,0,0.8);
}
.page-header .logo-wrapper .nav-toggle {
  color: rgba(0,0,0,0.8);
}
.page-header .logo-wrapper .nav-toggle:hover,
.page-header .logo-wrapper .nav-toggle:active,
.page-header .logo-wrapper .nav-toggle:focus {
  color: rgba(0,0,0,0.8);
}
.page-header .welcome {
  color: rgba(0,0,0,0.6);
}
.page-header .welcome a {
  color: #f44336;
}
.page-header .welcome a:hover,
.page-header .welcome a:active,
.page-header .welcome a:focus {
  background-color: transparent;
  color: rgba(0,0,0,0.8);
}
.options-wrapper .options-block .currency + .language:before {
  border-color: rgba(0,0,0,0.12);
}
.options-wrapper .options-block:hover,
.options-wrapper .options-block:active,
.options-wrapper .options-block.open,
.page-header .minicart-wrapper .action.showcart.title-cart:hover,
.page-header .minicart-wrapper .action.showcart.title-cart.active,
.top-link-wishlist:hover,
.top-link-wishlist:active,
.top-link-wishlist:focus {
  color: #F4B529;
  background-color: transparent;
}
.options-wrapper .options-block:hover .currency + .language:before,
.options-wrapper .options-block:active .currency + .language:before,
.options-wrapper .options-block.open .currency + .language:before {
  border-color: rgba(255,183,78,0.1);
}
.header-wrapper .page-header .navbar-default .navbar-collapse.collapse li.level-top a.level-top {
  color: rgba(0,0,0,0.8);
}
.header-wrapper .page-header .navbar-default .navbar-collapse.collapse li.level-top a.level-top.ui-state-focus,
.header-wrapper .page-header .navbar-default .navbar-collapse.collapse li.level-top a.level-top.ui-state-active,
.header-wrapper .page-header .navbar-default .navbar-collapse.collapse li.level-top.has-active a.level-top,
.header-wrapper .page-header .navbar-default .navbar-collapse.collapse li.level-top a.level-top:hover {
  color: rgba(0,0,0,0.8);
  background-color: transparent;
}
.header-wrapper .page-header .navbar-default .navbar-collapse.collapse li.level-top a.level-top:before {
  background-color: rgba(0,0,0,0.8);
}
.page-header .block-search.type-2 .block-title {
  color: rgba(0,0,0,0.8);
}
.page-header .block-search.type-2 .block-title:hover,
.page-header .block-search.type-2 .block-title:active,
.page-header .block-search.type-2 .block-title:focus {
  color: #F4B529;
  background-color: transparent;
}
.products-grid .product-item-info .swatches-wrapper .swatch-attribute .swatch-option.text:hover,
.products-grid .product-item-info .swatches-wrapper .swatch-attribute .swatch-option.text.selected,
.products-list .product-item-info .swatches-wrapper .swatch-attribute .swatch-option.text:hover,
.products-list .product-item-info .swatches-wrapper .swatch-attribute .swatch-option.text.selected {
  background-color: #F4B529 !important;
  border-color: #F4B529;
}
#layered-filter-block .filter-options-item .filter-options-content a .swatch-option.text:not(.disabled):hover,
#layered-filter-block .filter-options-item .filter-options-content a .swatch-option.text.selected {
  background-color: #F4B529;
  border-color: #F4B529;
}
.cart-container .cart-summary .totals-wrapper .checkout-methods-items .action.primary.checkout:hover,
.cart-container .cart-summary .totals-wrapper .checkout-methods-items .action.primary.checkout:active,
.cart-container .cart-summary .totals-wrapper .checkout-methods-items .action.primary.checkout:focus {
  background-color: #F4B529;
  border-color: #F4B529;
}
body button.action,
.btn,
.btn.btn-default,
.actions-toolbar .primary a.action {
  background-color: #F4B529;
  border-color: #F4B529;
}
@media only screen and (min-width: 992px) {
  .header-wrapper .navbar-default .navbar-collapse.collapse li.level-top .megamenu-wrapper li.level1 a[data-bold-link='1']:hover,
  .header-wrapper .navbar-default .navbar-collapse.collapse li.level-top .megamenu-wrapper li.level1 a[data-bold-link='1']:active,
  .header-wrapper .navbar-default .navbar-collapse.collapse li.level-top .megamenu-wrapper li.level1 a[data-bold-link='1']:focus,
  .header-wrapper .navbar-default .navbar-collapse.collapse li.level-top .megamenu-wrapper ul.level1 a[data-bold-link='1']:hover,
  .header-wrapper .navbar-default .navbar-collapse.collapse li.level-top .megamenu-wrapper ul.level1 a[data-bold-link='1']:active,
  .header-wrapper .navbar-default .navbar-collapse.collapse li.level-top .megamenu-wrapper ul.level1 a[data-bold-link='1']:focus {
    color: #222222;
  }
  .header-wrapper .navbar-default .navbar-collapse.collapse li.level-top .megamenu-wrapper li.level1 a:hover,
  .header-wrapper .navbar-default .navbar-collapse.collapse li.level-top .megamenu-wrapper li.level1 a:active,
  .header-wrapper .navbar-default .navbar-collapse.collapse li.level-top .megamenu-wrapper li.level1 a:focus,
  .header-wrapper .navbar-default .navbar-collapse.collapse li.level-top .megamenu-wrapper ul.level1 a:hover,
  .header-wrapper .navbar-default .navbar-collapse.collapse li.level-top .megamenu-wrapper ul.level1 a:active,
  .header-wrapper .navbar-default .navbar-collapse.collapse li.level-top .megamenu-wrapper ul.level1 a:focus {
    color: #222222 !important;
  }
}
@media only screen and (max-width: 991px) {
  .mobile-menu-wrapper .nav-sections .header.links a:hover,
  .mobile-menu-wrapper .nav-sections .header.links a:active,
  .mobile-menu-wrapper .nav-sections .header.links a:focus {
    color: #222222;
  }
}
.post-list-wrapper .post-list li.post-holder:hover {
  background-color: rgba(34,34,34,0.6);
}
.product-info-main .reviews-actions a:hover {
  color: #222222;
}
.block-link.size-chart:hover {
  color: #222222;
}
.bundle-options-container .bundle-options-wrapper .action.back {
  color: #222222;
}
.bundle-options-container .bundle-options-wrapper .action.back:hover,
.bundle-options-container .bundle-options-wrapper .action.back:active,
.bundle-options-container .bundle-options-wrapper .action.back:focus {
  background-color: #222222;
  color: #fff;
}
#product-review-container .review-items .review-item .review-box .read-more-link:hover {
  color: #222222;
}
.block.related .block-content .block-actions .action.select:hover,
.block.upsell .block-content .block-actions .action.select:hover {
  color: #222222;
}
.blog-post-view .post-view .postWrapper .postContent p.quote {
  border-color: #222222;
}
.blog-post-view .post-view .post-bottom .post-nextprev-hld a:hover,
.blog-post-view .post-view .post-bottom .post-nextprev-hld a:active,
.blog-post-view .post-view .post-bottom .post-nextprev-hld a:focus,
.page-layout-1column-custom-sidebar #custom-sidebar > button.close:hover,
.page-layout-1column-custom-sidebar #custom-sidebar > button.close:active,
.page-layout-1column-custom-sidebar #custom-sidebar > button.close:focus,
.cart-container .cart-summary .totals-wrapper .checkout-methods-items .action.multicheckout:hover,
.cart-container .cart-summary .totals-wrapper .checkout-methods-items .action.multicheckout:active,
.cart-container .cart-summary .totals-wrapper .checkout-methods-items .action.multicheckout:focus,
.table-wrapper.comparison #product-comparison tbody .cell.product .product-item-actions .actions-secondary .action:hover,
.table-wrapper.comparison #product-comparison tbody .cell.product .product-item-actions .actions-secondary .action:active,
.table-wrapper.comparison #product-comparison tbody .cell.product .product-item-actions .actions-secondary .action:focus,
.table-wrapper.comparison #product-comparison tbody .cell.product .product-item-actions .actions-primary .action.tocart:hover,
.table-wrapper.comparison #product-comparison tbody .cell.product .product-item-actions .actions-primary .action.tocart:active,
.table-wrapper.comparison #product-comparison tbody .cell.product .product-item-actions .actions-primary .action.tocart:focus {
  color: #222222;
}
.sidebar .block.widget.block-recent-posts .block-content .item a.post-item-link:hover,
.sidebar .block.widget.block-recent-posts .block-content .item a.post-item-link:active,
.sidebar .block.widget.block-recent-posts .block-content .item a.post-item-link:focus,
.sidebar .block.widget.block-recent-posts .block-content .item a.post-item-link:visited,
body a:hover,
body a:active,
body a:focus,
body a:visited {
  color: #222222;
}
body button.action:hover,
body button.action:active,
body button.action:focus,
body button.action.active,
.btn:hover,
.btn:active,
.btn:focus,
.btn.active,
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default.active,
.actions-toolbar .primary a.action:hover,
.actions-toolbar .primary a.action:active,
.actions-toolbar .primary a.action:focus,
.actions-toolbar .primary a.action.active {
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
}
.footer a:hover,
.page-header .minicart-wrapper .block-minicart .minicart-items-wrapper .product-item .product-item-details .product-item-name a:hover,
.products-grid .product-item-info .product-reviews-summary .reviews-actions a:hover,
.products-list .product-item-info .product-reviews-summary .reviews-actions a:hover,
.block-compared-products-grid .product-item-description a.product-item-link,
.block-viewed-products-grid .product-item-description a.product-item-link,
body a.action,
.sidebar .products-items .action:hover,
body .breadcrumbs a:hover,
#layered-filter-block .filter-options-item .filter-options-content a:hover,
.popup-block-modal.modal-slide .modal-header .action-close:hover:before {
  color: #222222;
}
.block-compared-products-grid .product-item-description a.product-item-link:hover,
.block-viewed-products-grid .product-item-description a.product-item-link:hover,
body a.action:hover {
  background-color: #222222;
}
@media only screen and (min-width: 1200px) {
  .cms-index-index .page-header {
    position: static;
  }
}
.page-header a {
  color: rgba(0,0,0,0.75);
}
.page-header ul.social-links {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  min-width: 25%;
}
@media only screen and (max-width: 767px) {
  .page-header ul.social-links {
    display: inline-block;
    vertical-align: top;
    float: none;
  }
}
.page-header ul.social-links li {
  list-style: none;
  display: block;
  float: left;
  margin: 0;
}
.page-header ul.social-links li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  margin-right: 2px;
  display: block;
  cursor: pointer;
  color: rgba(0,0,0,0.75);
}
.page-header ul.social-links li a i {
  display: block;
  line-height: inherit;
}
.page-header ul.social-links li a:hover,
.page-header ul.social-links li a:active,
.page-header ul.social-links li a:focus {
  background-color: rgba(0,0,0,0.06);
  color: rgba(0,0,0,0.8);
}
.page-header .header-info {
  float: right;
  min-width: 25%;
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .page-header .header-info {
    display: inline-block;
    vertical-align: top;
    float: none;
  }
}
.page-header .header-info a {
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  line-height: 40px;
  position: relative;
}
.page-header .header-info a:not(:last-child):before {
  content: '';
  height: 10px;
  width: 1px;
  background-color: rgba(0,0,0,0.12);
  display: block;
  position: absolute;
  right: 0;
  left: auto;
  top: 50%;
  margin-top: -5px;
}
.page-header .header-info a:last-child {
  padding-right: 0;
}
.page-header .header-info a:hover,
.page-header .header-info a:active,
.page-header .header-info a:focus {
  color: rgba(0,0,0,0.5);
}
.page-header .top-block {
  text-align: center;
}
.page-header .top-block .welcome {
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 1007px) {
  .page-header .top-block .welcome {
    display: none;
  }
}
.page-header .logo-wrapper {
  display: block;
  text-align: center;
}
.page-header .logo-wrapper .logo {
  display: inline-block;
}
@media only screen and (min-width: 1008px) {
  .page-header .logo-wrapper .logo {
    padding: 0 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .page-header .logo-wrapper {
    width: 33.2%;
  }
}
@media only screen and (min-width: 1008px) and (max-width: 1199px) {
  .page-header .logo-wrapper {
    width: 28%;
  }
}
@media only screen and (min-width: 768px) {
  .page-header .logo-wrapper {
    float: left;
  }
}
.page-header .middle-block .right-block {
  display: block;
  text-align: right;
}
.page-header .middle-block .right-block > * {
  float: none;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
@media only screen and (max-width: 1007px) {
  .page-header .middle-block .right-block > *:not(.minicart-wrapper) {
    display: none;
  }
  .page-header .middle-block .right-block > * .minicart-wrapper {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .page-header .middle-block .right-block {
    width: 33.2%;
  }
}
@media only screen and (min-width: 1008px) and (max-width: 1199px) {
  .page-header .middle-block .right-block {
    width: 36%;
  }
}
.page-header .search-wrapper {
  display: block;
  float: left;
}
@media only screen and (min-width: 1200px) {
  .page-header .search-wrapper {
    width: 33.2%;
  }
}
@media only screen and (min-width: 1008px) and (max-width: 1199px) {
  .page-header .search-wrapper {
    width: 36%;
  }
}
.page-header .search-wrapper .block-search {
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 1007px) {
  .page-header .search-wrapper .block-search {
    width: 100%;
  }
}
.page-header .search-wrapper .block-search .block-content {
  max-width: 300px;
}
@media only screen and (max-width: 1007px) {
  .page-header .search-wrapper .block-search .block-content {
    max-width: unset;
  }
}
.page-header .search-wrapper .block-search .block-content input {
  border: 1px solid rgba(0,0,0,0.1);
}
.page-header .search-wrapper .block-search .block-content input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.3);
}
.page-header .search-wrapper .block-search .block-content input:-moz-placeholder {
  color: rgba(0,0,0,0.3);
}
.page-header .search-wrapper .block-search .block-content input::-moz-placeholder {
  color: rgba(0,0,0,0.3);
}
.page-header .search-wrapper .block-search .block-content input:-ms-input-placeholder {
  color: rgba(0,0,0,0.3);
}
.page-header .search-wrapper .block-search .block-content input::placeholder {
  color: rgba(0,0,0,0.3);
}
@media only screen and (min-width: 1008px) {
  .page-header .menu-wrapper {
    text-align: center;
  }
  .page-header .menu-wrapper .menu-inner .toggle-nav {
    display: inline-block;
  }
}
.header-wrapper .page-header .navbar-default .navbar-collapse.collapse li.level-top a.level-top {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-wrapper .page-header .navbar-default .navbar-collapse.collapse li.level-top a.level-top:before {
  bottom: 8px;
}
.fullwidth-banner .fullwidth-inner {
  padding: 15px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.fullwidth-block .fullwidth-banner .fullwidth-inner {
  padding: 15px 0;
}
.no-padding {
  padding: 0 !important;
}
@media only screen and (min-width: 1200px) {
  .wide-layout .fullwidth-block.wide-slider .fullwidth-inner {
    padding-left: 9px;
    padding-right: 9px;
  }
}
@media only screen and (max-width: 1199px) {
  .wide-layout .fullwidth-block.wide-slider .fullwidth-inner {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 1008px) and (max-width: 1199px) {
  .fullwidth-block.wide-slider .home-slider-wrapper {
    min-height: 325px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1007px) {
  .fullwidth-block.wide-slider .home-slider-wrapper {
    min-height: 245px;
  }
}
@media only screen and (max-width: 767px) {
  .fullwidth-block.wide-slider .home-slider-wrapper {
    min-height: 385px;
  }
}
@media only screen and (min-width: 1200px) {
  .wide-layout .home-slider-wrapper,
  .boxed-layout .home-slider-wrapper {
    min-height: 610px;
  }
}
.home-slider-wrapper .slider-counter {
  display: none;
}
@media only screen and (min-width: 768px) {
  #home-slider.owl-theme .owl-dots {
    left: 50%;
    transform: translateX(-50%);
  }
}
#home-slider .owl-nav {
  right: 20px;
  left: 20px;
  bottom: auto;
  top: 50%;
  margin-top: -25px;
}
#home-slider .owl-nav div.owl-next {
  float: right;
}
#home-slider .owl-item .slide-container {
  text-align: center;
  bottom: 32.7%;
}
#home-slider .owl-item .slide-container.slide-skin {
  left: auto;
  right: 21%;
}
#home-slider .owl-item .slide-container.slide-skin-3 {
  bottom: 23%;
  top: auto;
}
.wide-layout #shopby-slider:before,
.wide-layout #shopby-slider:after {
  content: none;
}
.wide-layout #shopby-slider .owl-stage-outer {
  overflow: hidden;
}
.brands {
  margin: 0 -10px;
}
.brands .brand {
  display: block;
  float: left;
  padding: 0 10px;
  width: calc(100% /  5);
}
.brands .brand a {
  display: block;
}
@media only screen and (max-width: 767px) {
  .brands .brand {
    width: 50%;
  }
  .brands .brand:last-child {
    width: 100%;
    text-align: center;
  }
}
#maincontent .subscribe-block.fullwidth-block .fullwidth-inner {
  background-image: url('../../wysiwyg/brittany/coccinelle_brittany_2_newsletter_bg.jpg');
  padding: 133px 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1007px) {
  #maincontent .subscribe-block.fullwidth-block .fullwidth-inner {
    padding: 93px 10px;
  }
}
@media only screen and (max-width: 767px) {
  #maincontent .subscribe-block.fullwidth-block .fullwidth-inner {
    padding: 50px 20px;
  }
}
#maincontent .subscribe-block .fullwidth-inner {
  padding: 53px 10px;
  background-image: url('../../wysiwyg/brittany/coccinelle_brittany_newsletter_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center center;
}
@media only screen and (min-width: 768px) and (max-width: 1007px) {
  #maincontent .subscribe-block .fullwidth-inner {
    padding: 50px 10px;
  }
}
@media only screen and (max-width: 767px) {
  #maincontent .subscribe-block .fullwidth-inner {
    padding: 65px 10px;
  }
}
#maincontent .subscribe-block .block-title {
  font-family: 'Barlow';
  font-weight: 600;
  font-size: 36px;
  color: rgba(0,0,0,0.8);
}
#maincontent .subscribe-block .block-subtitle {
  font-size: 16px;
  font-family: 'Work Sans';
  font-weight: 400;
  color: rgba(0,0,0,0.6);
  margin-top: 4px;
}
#maincontent .subscribe-block.rounded-input .block.newsletter input {
  border-radius: 25px 0 0 25px;
}
#maincontent .subscribe-block.rounded-input .block.newsletter .action.subscribe {
  border-radius: 0 25px 25px 0;
}
#maincontent .subscribe-block .block.newsletter {
  display: inline-block;
  width: 32.2%;
}
@media only screen and (min-width: 768px) and (max-width: 1007px) {
  #maincontent .subscribe-block .block.newsletter {
    width: 400px;
  }
}
@media only screen and (max-width: 767px) {
  #maincontent .subscribe-block .block.newsletter {
    width: 100%;
  }
}
#maincontent .subscribe-block .block.newsletter .input-wrapper {
  width: calc(100% -  50px);
  float: left;
}
#maincontent .subscribe-block .block.newsletter .action.subscribe {
  background-color: rgba(0,0,0,0.04);
  color: rgba(0,0,0,0.8);
  width: 50px;
  height: 50px;
  border: none;
  font-size: 24px;
  line-height: 50px;
  padding: 0;
  margin-left: 0;
}
#maincontent .subscribe-block .block.newsletter .action.subscribe span {
  display: none;
}
#maincontent .subscribe-block .block.newsletter .action.subscribe:hover,
#maincontent .subscribe-block .block.newsletter .action.subscribe:active,
#maincontent .subscribe-block .block.newsletter .action.subscribe:focus {
  background-color: rgba(0,0,0,0.14);
}
#maincontent .subscribe-block .block.newsletter .action.subscribe i {
  display: block;
  line-height: inherit;
}
.wide-layout.checkout-cart-index .page-header {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.boxed-layout.checkout-cart-index .page-header .middle-block .container {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.checkout-cart-index .page-header .search-wrapper {
  display: none;
}
.checkout-cart-index .page-header .logo-wrapper {
  text-align: left;
}
.checkout-cart-index .page-header .logo-wrapper .logo {
  padding-left: 0;
}
@media only screen and (max-width: 1007px) {
  body .page-header .middle-block .container {
    padding-top: 0;
    padding-bottom: 5px;
  }
  body .page-header .middle-block .container .middle-block-inner {
    display: flex;
    flex-wrap: wrap;
  }
  body .page-header .middle-block .container .middle-block-inner .logo-wrapper {
    order: 1;
    flex-grow: 1;
    max-width: unset;
  }
  body .page-header .middle-block .container .middle-block-inner .logo-wrapper .logo {
    padding: 0;
  }
  body .page-header .middle-block .container .middle-block-inner .logo-wrapper .logo img {
    max-width: 100%;
    max-height: unset;
    margin: 0 auto;
  }
  body .page-header .middle-block .container .middle-block-inner .right-block {
    order: 2;
  }
  body .page-header .middle-block .container .middle-block-inner .right-block .minicart-wrapper {
    margin: 0;
  }
  body .page-header .middle-block .container .middle-block-inner .right-block .minicart-wrapper .action.showcart.title-cart {
    max-width: 50px;
  }
  body .page-header .middle-block .container .middle-block-inner .right-block .minicart-wrapper .action.showcart.title-cart .icon-wrapper {
    display: block;
    padding-right: 0;
  }
  body .page-header .middle-block .container .middle-block-inner .right-block .minicart-wrapper .action.showcart.title-cart .icon-wrapper .counter-number {
    right: 0;
  }
  body .page-header .middle-block .container .middle-block-inner .search-wrapper {
    order: 3;
    width: 100%;
  }
  body .page-header .middle-block .container .middle-block-inner .search-wrapper .block-search {
    max-width: 100%;
  }
  body .page-header .middle-block .container .middle-block-inner .search-wrapper .block-search .block-content {
    max-width: 100%;
  }
}
.text-banner {
  text-align: center;
  padding: 0 16%;
}
@media only screen and (min-width: 768px) and (max-width: 1007px) {
  .text-banner {
    padding: 0 10%;
  }
}
@media only screen and (max-width: 767px) {
  .text-banner {
    padding: 0;
  }
}
.text-banner h3 {
  font-size: 44px;
  margin-bottom: 33px;
}
@media only screen and (max-width: 767px) {
  .text-banner h3 {
    font-size: 30px;
  }
}
.text-banner .text {
  font-family: 'Work Sans';
  font-size: 16px;
  line-height: 30px;
  display: block;
  color: rgba(0,0,0,0.6);
  font-weight: 400;
}
.text-banner .sign {
  display: block;
  margin-top: 20px;
}
#home-slider .owl-item .slide-white .title, #home-slider .owl-item .slide-white .subtitle {
	color: #fff;
}