ul>li,
ol>li {
    margin-bottom: 0;
}


/* Header */

.page-header .logo {
    margin: 0;
}

.page-header .contacts-block {
    width: 50%;
}

.page-header .contacts-block i {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.8);
    width: 50px;
    height: auto;
    line-height: 1;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
}

.page-header .contacts-block div:not(.accordion-content) {
    width: calc(100% - 70px);
    float: right;
}

.page-header .contacts-block div:not(.accordion-content) span {
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    line-height: 17px;
    display: block;
}

.page-header .contacts-block div:not(.accordion-content) span.phone {
    color: rgba(0, 0, 0, 0.8);
}

.page-header .search-wrapper .block-search .block-content {
    width: 100%;
}

.meigee-cart:before {
    content: "\e911";
    font-family: 'meigeeadditional';
}

@media only screen and (min-width: 1200px) {
    .page-header .logo-wrapper {
        width: 21.2%;
    }
    .page-header .middle-block .right-block {
        width: 45.2%;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 1008px) {
    .page-header .logo-wrapper {
        width: 21%;
    }
    .page-header .search-wrapper {
        width: 28%;
    }
    .page-header .middle-block .right-block {
        width: 51%;
    }
    .page-header .contacts-block {
        width: 51%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1007px) {
    .page-header .logo-wrapper {
        width: 25%;
    }
    .page-header .middle-block .right-block {
        width: 39%;
    }
}

@media only screen and (min-width: 768px) {
    .page-layout-1column .product.media {
        width: 30%;
    }
    .page-layout-1column .product-info-main {
        width: 70%;
        padding: 0;
    }
    .product-info-main .page-title-wrapper h1 {
        font-size: 30px;
        max-width: 80%;
        float: left;
    }
    .product-info-main .product-info-stock-sku {
        float: right;
        width: 20%;
        text-align: right;
    }
}


/* Menu */

.nav-1 a.level-top span {
    max-width: 110px;
}

a.level-top {
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

a.level-top span {
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: middle;
    max-width: 132px;
    line-height: 22px;
}

.nav-6 a.level-top span,
.nav-7 a.level-top span {
    line-height: 44px;
}

.megamenu-wrapper .products-grid .product-item-info .image-wrapper .hover-buttons {
    display: none;
}


/* Countdown bar */

#shippingCountdown {
    min-width: 114px;
    padding-left: 0px;
}


/* .product-top-banner .title {
    padding-left: 40px;
} */

.product-top-banner .titleShipping,
.fullwidth-banner .titleShipping {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    margin-right: 40px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Barlow';
}

@media only screen and (max-width: 767px) {
    .fullwidth-block .fullwidth-banner .fullwidth-inner.kampol-shipping-count {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .fullwidth-banner .title {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
        font-size: 16px;
    }
    .fullwidth-banner .text {
        line-height: 15px;
        font-size: 13px;
        border-top: 1px solid #fff;
        padding-top: 5px;
    }
    .product-top-banner .titleShipping,
    .fullwidth-banner .titleShipping {
        line-height: 20px;
        font-size: 16px;
        margin-right: 10px;
    }
    #shippingCountdown {
        min-width: auto;
    }
}


/* Slider */

#home-slider .owl-item .slide-container {
    text-align: center;
    left: auto;
    right: 27.5%;
    bottom: 32.6%;
}


/* 
#home-slider .title strong {
    margin-top: auto;
    margin-bottom: auto;
} */

@media only screen and (max-width: 1199px) and (min-width: 1008px) {
    #home-slider .owl-item .slide-container {
        right: 17.5%;
        bottom: 22.6%;
    }
}

@media only screen and (max-width: 1007px) and (min-width: 768px) {
    #home-slider .owl-item .slide-container {
        right: 12.5%;
        bottom: 2.6%;
    }
}

#home-slider .owl-item .slide-container.slide-custom {
    background: rgba(255, 255, 255, 0.75);
    padding: 20px;
}


/* @media only screen and (max-width: 767px) {
    #home-slider .owl-item .slide-container {
        top: auto;
    }
} */

@media only screen and (min-width: 1200px) {
    .wide-layout .home-slider-wrapper,
    .boxed-layout .home-slider-wrapper {
        min-height: 450px;
    }
}

#home-slider .owl-item .title {
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
}

#home-slider .owl-item .title.customer-review {
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    line-height: 28px;
}

#home-slider .owl-item .title.customer-review strong {
    font-style: normal;
    text-align: right;
    margin-bottom: 0;
}

#home-slider .owl-item .title {
    letter-spacing: 0px !important;
}


/* Kampol Image Categories */

@media only screen and (min-width: 1007px) {
    .kampol-image-cat {
        max-height: 361px;
    }
}


/* Products list */

.minimal-price-link {
    display: none;
}

.product-item .minimal-price-link {
    display: none;
}

.price-container .price {
    color: #4caf50;
    font-size: 1.1rem;
}

.price-container .price-including-tax+.price-excluding-tax .price,
.product-add-form .price-container .price-including-tax+.price-excluding-tax .price {
    font-size: 24px;
}

.products-grid,
.products-list,
.product-items,
.product-item {
    font-size: 16px;
    letter-spacing: normal;
    line-height: normal;
}


/* Product page */

.fotorama__stage {
    cursor: pointer;
}

.product-info-main .price-box .price-container .price {
    font-size: 1.2rem;
}

.product-info-price .price-box .price-container .price-including-tax+.price-excluding-tax .price {
    font-size: 24px;
}

.product-info-main .price-box .price-wrapper {
    text-align: right;
}

.price-including-tax+.price-excluding-tax:before,
.weee[data-label]:before,
.price-including-tax:before,
.prices-tier.items .price-including-tax,
.product-info-main .product-reviews-summary {
    display: none;
}

.price-including-tax+.price-excluding-tax:after,
.weee[data-label]:after,
.price-including-tax:after {
    content: ' ' attr(data-label) !important;
    font-size: 1.1rem;
    text-transform: lowercase;
}

.product-info-main .quantity-wrapper .widget.block,
.product-info-main .quantity-wrapper .field.qty {
    display: inline-block;
    width: auto;
}

.product-info-main .quantity-wrapper {
    text-align: right;
}

.product-info-main .product-info-stock-sku {
    display: inline-block;
    width: auto;
}

.product-info-main .product-info-stock-sku .stock {
    display: unset;
}

.product-info-main .product-info-price {
    float: right;
    width: 27%;
}

#price-including-tax-product-price-1 {
    float: none;
}

.product-info-price #price-including-tax-product-price-1 {
    float: none;
}

#price-excluding-tax-product-price-1 {
    float: left;
}

.box-tocart .actions .btn {
    margin-top: 10px;
}


/* .checkout-cart-index #block-shipping {
    display: none;
} */

html body.checkout-index-index .page-header .left-block {
    float: left;
}

.table-checkout-shipping-method tbody td {
    border: none;
}

.checkout-payment-method .payment-option-title {
    padding-left: 0
}

@media only screen and (min-width: 1024px) {
    .product-info-main .product-add-form {
        float: right;
    }
    .product-info-main .product.attribute.overview {
        float: left;
        margin-top: 0;
        width: 72%;
        line-height: 18px;
    }
    .product-info-main .product-kampol-table {
        float: left;
        width: 72%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .product-info-main .product.attribute.overview {
        clear: both;
    }
    .product-info-main .quantity-wrapper {
        float: left;
    }
    .box-tocart .actions {
        float: right;
    }
    .box-tocart .actions .btn {
        margin-top: 0;
    }
    .product-add-form #price-excluding-tax-product-price-3,
    .product-add-form #price-including-tax-product-price-3 {
        text-align: left;
    }
}

.product-info-main .price-box .old-price,
.product-add-form .price-box .old-price {
    float: right;
    clear: both;
}

.product-info-main .product-social-links,
.product-add-form .product-social-links,
.product-info-main .price-box .special-price,
.product-add-form .price-box .special-price {
    float: right;
}

.product-info-main .box-tocart,
.fieldset:last-child {
    margin-bottom: 10px;
}

.hover-image {
    height: 100%;
}


/* Tabs */

.product.info.detailed,
.product.info.detailed .product.data.items {
    padding-top: 0;
    margin: 0;
}

.product.info.detailed .product.data.items>.item.title a.switch {
    color: rgba(0, 0, 0, 0.8);
    cursor: text;
}

.product.info.detailed .product.data.items>.item.title a.switch:after {
    display: none;
}

div#description,
div#additional {
    display: block !important;
    float: none;
    margin: 0;
    padding: 0;
}


/* Product Attributes */

.additional-attributes-wrapper.table-wrapper {
    columns: 2;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

#product-attribute-specs-table,
#product-attribute-specs-table tbody,
#product-attribute-specs-table tr {
    display: block;
}

#product-attribute-specs-table th.col.label {
    width: 235px !important
}

.product.info.detailed .additional-attributes {
    width: 100%;
}

.product.info.detailed .product.data.items .additional-attributes-wrapper .table tbody {
    border: none;
}

.additional-attributes-wrapper.table-wrapper .col.label {
    width: 38%;
}

.additional-attributes-wrapper.table-wrapper .col.data {
    width: 62%;
}


/* Product Blocks */

.block.related+.block.upsell {
    padding-top: 0;
}

.block.related {
    padding-bottom: 0;
}

.block.review-add {
    margin-top: 30px;
}

.page-footer .company-contact-wrapper {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.page-footer .company-contact-wrapper i.meigee-email,
.page-footer .company-contact-wrapper i.meigee-phone {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.8);
    width: 28px;
    height: auto;
    line-height: 1;
    text-align: center;
    margin-right: 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.page-footer .company-contact-wrapper div:not(.accordion-content) {
    width: auto;
    display: inline-block;
}

.footer-advantages .footer-block-title {
    margin-bottom: 0;
}

.footer-advantages i {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.8);
    width: 35px;
    height: auto;
    line-height: 1;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
}

.footer-advantages div:not(.col-lg-6) {
    width: calc(100% - 55px);
    float: right;
    text-align: left;
}

.footer-advantages .col-lg-6 {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Homepage Banner */

.main-category {
    position: relative;
    overflow: hidden;
}

.main-category::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: all .35s;
}

.main-category__title {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    transition: all 0.35s;
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
    .main-category__title {
        font-size: 30px;
    }
}

@media (max-width: 992px) {
    .main-category__title {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .main-category__title {
        font-size: 30px;
    }
}

.main-category .banner {
    display: block;
}

.main-category .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(244, 181, 41, 0.7);
    z-index: 1;
    opacity: 0;
    transition: all 0.35s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.main-category .banner img {
    max-width: 100%;
    height: auto;
    width: 100%;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    position: relative;
}

.main-category .sub-categories {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, 250%);
    transform: translate(-50%, 250%);
    transition: -webkit-transform 0.45s;
    transition: transform 0.45s;
    transition: transform 0.45s, -webkit-transform 0.45s;
}

.main-category .sub-categories .sub-banner {
    margin: 10px;
    text-align: center;
}

.main-category .sub-categories .sub-banner__title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    margin: 10px 0 0;
}

@media (max-width: 992px) {
    .main-category .sub-categories .sub-banner__title {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .main-category .sub-categories .sub-banner__title {
        font-size: 18px;
    }
}

.main-category .sub-categories .sub-banner__img {
    min-width: 100px;
    min-height: 100px;
    max-height: 120px;
    max-width: 120px;
    width: 7vw;
    height: 7vw;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all .35s;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .main-category .sub-categories .sub-banner__img {
        min-width: 65px;
        min-height: 65px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .main-category .sub-categories .sub-banner__img {
        min-width: 80px;
        min-height: 80px;
        width: 20vw;
        height: 20vw;
    }
}

.main-category .sub-categories .sub-banner__img img {
    width: 100%;
    height: auto;
}

.main-category .sub-categories .sub-banner__img--search {
    position: relative;
}

.main-category .sub-categories .sub-banner__img--search::before {
    content: '';
    position: absolute;
    background-image: url("https://kampol.dev5.yasecure.com/pub/media/wysiwyg/home-boxes/search-icon.png");
    background-size: contain;
    background-position: center;
    width: 40px;
    height: 40px;
}

.main-category .sub-categories .sub-banner:hover {
    text-decoration: none;
}

.main-category .sub-categories .sub-banner:hover .sub-banner__img {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.main-category:hover::before {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
    z-index: -1;
}

.main-category:hover .main-category__title {
    left: 20px;
    top: 20px;
}

.main-category:hover .banner::before {
    opacity: 1;
    -webkit-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
}

.main-category:hover .banner img {
    -webkit-transform: scale3d(0.95, 0.95, 1);
    transform: scale3d(0.95, 0.95, 1);
}

.main-category:hover .sub-categories {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* CMS */

.form.contact {
    float: left !important;
}

.contact-index-index .column.main .widget.block.block-static-block {
    float: right;
    clear: none;
    width: 50%;
}

.contact-index-index .column.main .widget.block.block-static-block .company-contact-wrapper div {
    display: inline-block;
}


/* My Account */

.abs-pager-toolbar .toolbar-amount,
.account .toolbar .toolbar-amount,
.toolbar-giftregistry-results .toolbar-amount,
.toolbar-wishlist-results .toolbar-amount {
    line-height: 43px;
    margin-left: 20px;
}


/* Skrzynie drewniane */

.category-skrzynie-drewniane .product-kampol-table .type {
    display: none;
}