body {
    margin: 0;
}
* {
    box-sizing: border-box;
}

#pallet-top-container {
    display: inline-grid;
    grid-template-columns: 70px auto;
    grid-template-rows: 30px auto;
}
#pallet-top-width-info {
    grid-column: 2;
}
#pallet-top-height-info {
    text-align: center;
}


#pallet-top-container > .grid-container {
    position: relative;
}
#pallet-top-container  #pallet-top-top-boards {
    display: grid;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#pallet-top-container #pallet-top-transverse-boards {
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#pallet-top-container #pallet-top-bottom-boards {
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#pallet-top-container #pallet-top-top-boards > .board {
    height: 100%;
    background-color: #ff9a65;
    border: 1px solid #d57913;
    z-index: 2;
}
#pallet-top-container #pallet-top-transverse-boards > .board {
    width: 100%;
    background-color: #fdc661;
    border: 1px solid #d57913;
    z-index: 3;
}
#pallet-top-container #pallet-top-bottom-boards > .board {
    width: 100%;
    background-color: #ffd5bf;
    border: 1px solid #FFAC80;
    z-index: 1;
}
#inputs-errors {
    color: red;
    font-size: 1.5rem;
    margin: 10px 0;
    min-height: calc(3rem + 20px);
}


#pallet-front-container {
    display: grid;
    grid-template-rows: 30px auto;
}
#pallet-front-container > .grid-container {
    display: grid;
}
#pallet-front-top-boards {
    display: grid;
}
#pallet-front-top-boards .board {
    background-color: #fdc661;
    border: 1px solid #d57913;
}
#pallet-front-transverse-boards > .board {
    width: 100%;
    height: 100%;
    background-color: #ff9a65;
    border: 1px solid #d57913;
}
#pallet-front-base-block-height {
    display: grid;
}
#pallet-front-base-block-height > .board {
    width: 100%;
    background-color: #fdc661;
    border: 1px solid #d57913;
}
#pallet-front-base-board {
    display: grid;
}
#pallet-front-base-board > .board {
    width: 100%;
    background-color: #ffd5bf;
    border: 1px solid #FFAC80;
}

#pallet-side-container {
    display: grid;
    grid-template-columns: 70px auto;
}
#pallet-side-container > .grid-container,
#pallet-side-container > .grid-container > div {
    display: grid;
}

#pallet-side-blocks > .board,
#pallet-side-container > .grid-container > .pallet-side-top-boards > .board {
    height: 100%;
    background-color: #fdc661;
    border: 1px solid #d57913;
}
#pallet-side-container > .grid-container > .pallet-side-bottom-boards > .board {
    height: 100%;
    background-color: #ffd5bf;
    border: 1px solid #FFAC80;
}
#pallet-side-transverse-boards > .board {
    height: 100%;
    background-color: #ff9a65;
    border: 1px solid #d57913;
}

/* on site */
#container {
    display: flex;
    flex-wrap: wrap;
    background: white;
    padding: 20px 100px 20px 30px;
}


#pallet-view {
    display: grid;
    grid-template-columns: 70% 30%;
    order: 2;
    width: calc(100% - 250px);
}
#inputs-container {
    width: 250px;
    order: 3;
}
#inputs-container input,
#inputs-container select {
    width: calc(100% - 35px)
}
@media (max-width: 1140px) {
    #container {
        padding: 15px;
        flex-direction: column-reverse;
    }
    #inputs-container {
        width: 100%;
        order: 1;
    }
    #pallet-view {
        padding-top: 20px;
        width: 100%;
    }

    #pallet-top-container {
        grid-template-columns: 40px auto;
        grid-template-rows: 40px auto;
    }
    #pallet-front-container {
        grid-template-rows: 40px auto;
    }
    #pallet-side-container {
        grid-template-columns: 40px auto;
    }
}

.grid-container {
    position: relative;
}

.grid-container .img-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}
#pallet-top-container .grid-container .img-container img {
    transform: rotate(30deg);
    opacity: 0.05;
    z-index: 3;
}
#pallet-front-container .grid-container .img-container img {
    opacity: 0.05;
    width: 60%;
    height: auto;
}
#pallet-side-container .grid-container .img-container img {
    opacity: 0.05;
    height: 60%;
    width: auto;
}

.send-pallet {
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

@media (max-width: 1008px) {
    .left-block,
    .logo {
        width: 100% !important;
    }
    .logo > img {
        margin: 0 auto;
    }
}

.send-info {
    display: none;
    background: #81b562;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
}
.send-info p {
    margin: 0;
}
.active {
    display: block;
}

.accordion-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
@media (max-width: 1050px) {
    .accordion-content {
        flex-direction: column;
    }
    .accordion-content > * {
        margin: 5px auto;
    }
}
.container {
    width: 100% !important;
    max-width: 1200px !important;
}

.accordion-list #customer-reviews .accordion-content,
.accordion-list .accordion-item .accordion-content {
    display: block;
    padding: 5px;
    margin: 10px 0 0 0;
}
.accordion-content * {
    text-align: center !important;
}
.company-contact-wrapper {
    align-items: center;
    justify-content: center;
}
